version: '3'

services:
  prosody:
    image: jitsi/prosody:stable-9584
    restart: unless-stopped
    networks:
      - jitsi-net
    volumes:
      - prosody-config:/config
    environment:
      - XMPP_DOMAIN=${XMPP_DOMAIN}
      - XMPP_AUTH_DOMAIN=${XMPP_AUTH_DOMAIN}
      - XMPP_MUC_DOMAIN=${XMPP_MUC_DOMAIN}
      - XMPP_INTERNAL_MUC_DOMAIN=${XMPP_INTERNAL_MUC_DOMAIN}
      - XMPP_MODULES=mod_mam
      - PROSODY_AUTH=internal_plain
      - TZ=${TZ}
      - PUBLIC_URL=https://${JITSI_DOMAIN}
      - ENABLE_AUTH=${ENABLE_AUTH}
      - JICOFO_AUTH_PASSWORD=${JICOFO_AUTH_PASSWORD}
      - JVB_AUTH_PASSWORD=${JVB_AUTH_PASSWORD}

  jicofo:
    image: jitsi/jicofo:stable-9584
    restart: unless-stopped
    networks:
      - jitsi-net
    volumes:
      - jicofo-config:/config
    environment:
      - XMPP_DOMAIN=${XMPP_DOMAIN}
      - XMPP_AUTH_DOMAIN=${XMPP_AUTH_DOMAIN}
      - XMPP_BREWERY=${XMPP_MUC_DOMAIN}
      - JICOFO_AUTH_USER=${JICOFO_AUTH_USER}
      - JICOFO_AUTH_PASSWORD=${JICOFO_AUTH_PASSWORD}
      - TZ=${TZ}
    depends_on:
      - prosody

  jvb:
    image: jitsi/jvb:stable-9584
    restart: unless-stopped
    networks:
      - jitsi-net
    ports:
      - "${JVB_PORT}:${JVB_PORT}/udp"
    volumes:
      - jvb-config:/config
    environment:
      - XMPP_DOMAIN=${XMPP_DOMAIN}
      - XMPP_AUTH_DOMAIN=${XMPP_AUTH_DOMAIN}
      - JVB_AUTH_USER=${JVB_AUTH_USER}
      - JVB_AUTH_PASSWORD=${JVB_AUTH_PASSWORD}
      - JVB_PORT=${JVB_PORT}
      - JVB_TCP_HARVESTER_PORT=${JVB_TCP_HARVESTER_PORT}
      - DOCKER_HOST_ADDRESS=${DOCKER_HOST_ADDRESS}
      - TZ=${TZ}
    depends_on:
      - prosody

  web:
    image: jitsi/web:stable-9584
    restart: unless-stopped
    networks:
      - jitsi-net
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - web-config:/config
    environment:
      - XMPP_DOMAIN=${XMPP_DOMAIN}
      - XMPP_AUTH_DOMAIN=${XMPP_AUTH_DOMAIN}
      - XMPP_MUC_DOMAIN=${XMPP_MUC_DOMAIN}
      - ENABLE_AUTH=${ENABLE_AUTH}
      - JWT_SECRET=${JWT_SECRET}
      - PUBLIC_URL=https://${JITSI_DOMAIN}
      - TZ=${TZ}
    depends_on:
      - prosody

networks:
  jitsi-net:
    driver: bridge

volumes:
  prosody-config:
  jicofo-config:
  jvb-config:
  web-config: